<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <meta name="title" content="Build your own Tiny URL within seconds! - TinyApp">
  <meta name="description" content="TinyApp is a web app that leverages Node.js, letting users create short URLs. It's much like TinyURL.com and bit.ly, but with a few minor differences.">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body class="container">

<%- include('./partials/_header', email, id); %>

<main>
  <h3>Homepage</h3>
  <p>More details will appear here soon</p>
</main>

<%- include('./partials/_footer'); %>

</body>
</html>