<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<%- include('../partials/_header', username); %>

<main>
  <h3>Homepage</h3>
  <p>More details will appear here soon</p>
</main>

<%- include('../partials/_footer'); %>

</body>
</html>