<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <h3>Homepage</h3>
  <p>More details will appear here soon</p>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>