<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<%- include('../partials/_header', username); %>

<main>
    <h3>Create TinyURL</h3>
      <form class="form-inline" action="/urls" method="POST">
        <div class="form-group mb-2">
          <label for="longURL">Enter a URL:</label>
          <input class="form-control" type="text" name="longURL" placeholder="http://" required>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
</main>

<%- include('../partials/_footer'); %>

</body>
</html>